# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual Environment
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
media/reports/*
!media/reports/.gitkeep
staticfiles/
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env
